* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #202020 url('https://images.pexels.com/photos/3010087/pexels-photo-3010087.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat fixed center center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.hidden {
    display: none;
}

.menu-container {
    width: 90%;
}

.menu-active {
    background-color: rgba(56, 56, 56, 0.705);
    list-style-type: none;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: calc(100% * 0.04);
}

.menu-active li {
    color: white;
    cursor: pointer;
}

.menu-active > li:hover {
    color: rgb(231, 171, 80);
}

.dropdown-container {
    position: relative;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.active-drop {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown {
    background-color: 
    rgba(56, 56, 56, 0.705);

    padding: 10px;
    height: 280%;
    width: 100%;

    display: none;
    position: absolute;
    bottom: -280%;
    left:  0;
}

.dropdown.active {
    display: block;
}

.dropdown ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}